@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --gray: #161616;
  --white: #ffffff
}

body {
  color: var(--white);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
